@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
  --background-color: #FFFDFC;
  --copy-color: #151A17;
  --highlight-color: #485289;
  --dim-color: #393e46;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--copy-color);
  font-size: 15px;
}

a {
  color: var(--highlight-color);
  text-decoration: underline;
  &:hover {
    color: var(--highlight-color);
  }
  &.blur {
    text-decoration: none;
    filter: blur(4px);
    transition: filter 0.3s ease-in-out;
    &:hover {
      text-decoration: underline;
      filter: blur(0px);
    }
  }
}

hr {
  border-top: 1px solid var(--highlight-color);
  margin: 30px 0;
  padding: 0;
}


.passage.start-page {
  h1 {
    font-weight: 400;
    margin-bottom: 0;
    padding: 0;
    line-height: 100%;
  }

  h2 {
    font-weight: 400;
    font-size: .9rem;
    margin-bottom: 0;
    padding: 0;
    line-height: 100%;
  }
}

.passage.part-start {
  h1 {
    font-weight: 400;
    margin-bottom: 0;
    padding: 0;
    line-height: 100%;
  }
  h2 {
    font-weight: 400;
    font-size: .9rem;
    margin-bottom: 0;
    padding: 0;
    line-height: 100%;
  }
}

ul.player-options {
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    display: block;
    padding: 10px 20px;
    margin: 5px 0;
    background: #BFC8F5;
    text-decoration: none;
    border: 1px solid #BFC8F5;
    &:hover {
      border: 1px solid #6571AE;
      text-decoration: underline;
    }
  }
}

input {
  &[type=text] {
    color: var(--copy-color);
    &:hover {
      color: var(--background-color);
    }
  }
}